$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$line-color: #ececec;
$hero-bg-color: #c4c4c4;
$section-bg-color: #f5f4fa;
$icon-color: #afb1b8;
$icon-bg-color: rgba(255, 255, 255, 0.1);
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
$input-outline-color: rgba(33, 33, 33, 0.2);
